<div class="block" data-bind="scope: 'currencyConverter'" data-role="currency-converter-form">
    <div class="fieldset">
        <div class="field">
            <label class="label" for="name"><span><?= $block->escapeHtml(__('RUB')) ?></span></label>
            <div class="control">
                <input id="currency-converter-input" title="<?= $block->escapeHtmlAttr(__('RUB')) ?>" value="" class="input-text"
                       type="text" data-bind="event: {keyup: onChange}" />
            </div>
        </div>
        <div class="field">
            <label class="label"><span><?= $block->escapeHtml(__('PLN')) ?></span></label>
            <div class="control">
                <span data-bind="text: getResult()"></span>
            </div>
        </div>
    </div>
    <button id="currency-converter-button" data-bind="click: convert"><?= /* @escapeNotVerified */ __('Convert') ?></button>
</div>
<script type="text/x-magento-init">
{
    "[data-role=currency-converter-form]": {
        "Magento_Ui/js/core/app": <?= /* @escapeNotVerified */ $block->getJsLayout() ?>
    }
}
</script>